<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TabelaPunktowa.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <TabelaPunktowa.My.MySettings>
            <setting name="BgColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="FgColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Font" serializeAs="String">
                <value>Consolas, 14.25pt</value>
            </setting>
            <setting name="GospodarzeName" serializeAs="String">
                <value>Gospodarze</value>
            </setting>
            <setting name="GospodarzePointsGet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GospodarzePoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GoscieName" serializeAs="String">
                <value>Goscie</value>
            </setting>
            <setting name="GosciePointsGet" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GosciePoints" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CzasMinutes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CzasSeconds" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PanelBgColor" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="PanelFgColor" serializeAs="String">
                <value>White</value>
            </setting>
        </TabelaPunktowa.My.MySettings>
    </userSettings>
</configuration>